@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../public/photos/dodgeball 2.jpeg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  color: rgb(84, 92, 204);
}

.card {
  box-shadow: 20px 20px 50px rgb(0, 0, 0);
  background-color: rgba(126, 126, 126, 0.394);
}

.team {
  display: flex;
  justify-content: center;
}

.card-button {
 margin: 10px;
}

.font {
  color: rgb(84, 92, 204);
}

.link:hover {
  cursor: pointer;
}
