@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("https: //images-eu.ssl-images-amazon.com/images/S/pv-target-images/37db4646907901dc077d64d45ca37f9c8035af9993053ecfa9bbfbf3f29f4d4d._UY500_UX667_RI_TTW_.jpg");
    background-color: #cccccc;
}

Card {
  box-shadow: 20px 20px 50px white;
}
